.emoji {
    display: flex;
    box-sizing: border-box;
    animation : 1s hihan 0s infinite ease-in-out ;
    animation-play-state: paused;
}

.list{
    max-height: 9em;
    height: 9em;
}

.notList{
    max-height: 20em;
    height: 20em;
}

.emoji:hover{
    animation-play-state: running;
}

.rightlean {
    animation-direction: reverse;
}

.emoji:hover > .card {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 2px 1px 1px 0 var(--cardShadow);
}

.emoji:hover > .relatedColumn {
    max-width: 20%;
    width: 20%;
    box-shadow: -2px 1px 1px 0 var(--cardShadow);

}

.emoji:hover > .relatedColumn > .gitmojiSmall {
    display: inline-block;
}

.card {
    float: right;
    background-color: var(--cardBackground);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 var(--cardShadow);
    flex: 1;
    margin: 1em 0;
    text-align: center;
    overflow: hidden;
}


.cardList {
    display: flex;
}

.cardList .gitmoji {
    font-size: 3.5em;
}

.cardList .cardHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.cardList .gitmojiInfo {
    text-align: left;
    padding: 1rem;
}

.cardList .gitmojiCode {
    text-align: left;
}

.cardList .gitmojiInfo p {
    margin: 0;
    padding-top: 0.5rem;
}


[data-theme='dark'] .card:hover {
    box-shadow: none;
    background-color: #3b3b3b;
}

.cardHeader {
    background-color: var(--emojiColor);
    align-self: flex-start;
    padding-top: 2em;
    padding-bottom: 0.85em;

}

.gitmojiSmall,
.gitmoji,
.gitmojiCode {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
}

.gitmoji {
    border-radius: none;
    cursor: pointer;
    display: inline-block;
    font-size: 5em;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
    'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
}
.gitmojiSmall:hover,
.gitmojiSmall:focus,
.gitmoji:hover,
.gitmoji:focus {
    animation-name: bounce;
    animation-duration: 0.5s;
}

.gitmojiCode {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
    white-space: nowrap;
}

.gitmojiCode::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.2em;
    border-radius: 4px;
    transition: width 0.15s;
    background-color: var(--emojiColor);
}

.gitmojiCode:hover::after {
    width: 100%;
}

.gitmojiInfo {
    padding: 1.5em;
    word-break: break-all;
    color: var(--emojiCodeText);
}

.gitmojiInfo p {
    color: var(--cardText);
    word-break: normal;
}

.relatedColumn {
    scroll-behavior: smooth;
    margin: 1em 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    max-width: 0;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--emojiColor);
    overflow: auto;
    /*animation: scroll 10s linear infinite;*/
}


.gitmojiSmall {
    cursor: pointer;
    display: none;
    width: 100%;
}

@media (max-width: 768px) {
    .gitmoji,
    .cardList .gitmoji {
        font-size: 50px;
    }

    .cardHeader {
        padding-bottom: 1em;
    }
}

.gitmojiSmall {
    padding: 0.25em;
}

/*
  This code has been obtained from:
  https://github.com/daneden/animate.css/blob/master/source/attention_seekers/bounce.css
*/
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -9px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }

    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes hihan {

    0%,
    100% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-1deg);
    }
    75% {
        transform: rotateZ(1deg);
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
